.logo-shoes {
  display: flex;
}

.shoes-image {
  width: 100%;
  display: block;
}

.main {
  display: flex;
  gap: 130px;
  background-color: green;
}

.menu {
  display: flex;
  align-items: center;

}
  
.logo-link {
  margin-right: auto;
}

.logo-link img {
  width: 250px;
  display: block;
}
  
.menu-link {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'open sans';
}

.all-shoes-link {
  margin-top: 50px;
  display: block;
}

.menu-links {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
  
.cart-link {
  display: block;
  width: 55px;
  height: 55px;
}

.cart-link img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}
  
.logo-shoes {
  margin-right: auto;
  flex-basis: 30%;
  flex-shrink: 0;
  background-color: orange;
  /*padding-left: 200px;
  padding-right: 60px;*/
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /*padding-left: 200px;
  padding-right: 200px;
  padding-top: 500px;*/
}

.text{
  text-decoration: none;
  color: #000;
  display: block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  width: 1200px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /*padding-top: 50px;*/
}

.footer-link {
  /*margin-left: 30px;*/
}
